
.mapboxgl-gradient-box-ctrl .gradient
{
    background: linear-gradient(to right, #fcce00 0%,#cc0000 100%);
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.mapboxgl-gradient-box-ctrl {
    width: 200px;
    display: flex;
    padding: 0 10px;
    position: relative;
}

.mapboxgl-gradient-box-ctrl .caret
{
    color: white;
    display: none;
    margin: 0 -5px;
    padding-left: 50%;
    text-shadow: 0 0 2px black;
}